{{- define "main" }}
            <div class="hero bg-gray">
                <div class="hero-body">
                    <h1>5Minutes</h1>
                    <p>Get the pure basics in 5 minutes.</p>
                </div>
            </div>
            <div class="columns">
{{- range (.Paginate ( where site.RegularPages "Section" "topic" | first 3 ) ).Pages }}
                <div class="column col-4 col-md-6 col-sm-12">
                  <div class="card">
                      <div class="card-header">
                          <div class="card-title h5">
                              <a href="{{ .Permalink }}">{{ .Title }}</a>
                          </div>
                      </div>
                      <div class="card-body">{{ .Page.Summary }}</div>
                  </div>
                </div>
{{- end }}
            </div>
{{- end }}