<!DOCTYPE html>
<html>
{{- partial "head.html" . }}
    <body>
        <div class="container">
        {{- partial "header.html" . }}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . }}
        </div>
    </body>
</html>