{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ range .Pages.ByPublishDate.Reverse }}
<article>
    <header>
    <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    </header>
    <a class="summary" href="{{ .RelPermalink }}">
        <p>{{ .Summary }}</p>
    </a>
</article>
{{ end }}
{{ end }}