{{ define "main" }}
            <div class="columns">
                <article class="column col-8 col-md-7 col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <h1>{{ .Title }}</h1>
{{-     .Content }}
                        </div>
                    </div>
                </article>
                <aside class="column col-4 col-md-5 col-sm-12">
{{-     with .Params.tags }}
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title h5">Tags</div>
                        </div>
                        <div class="card-body">
{{-         range . }}
{{-             $tag := urlize . }}
                        <div class="chip">
                            <a href='{{ absLangURL (printf "tags/%s/" $tag) }}' title="{{ . }}">
                                {{- . -}}
                            </a>
                        </div>
{{-         end }}
                    </div>
{{-     end }}
                </aside>
            </div>
            <script type="application/ld+json">
                {
                    "@type":"TechArticle",
                    "url":"{{ .Permalink }}",
                    "articleSection" : "{{ .Section }}",
                    "description":"{{ htmlEscape .Summary }}",
                    "name":"{{ htmlEscape .Title }}",
                    "headline" : "{{ .Title }}",
                    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05JST" }}",
                    "dateModified" : "{{ .GitInfo.AuthorDate.Format "2006-01-02T15:04:05JST" }}",
                    "wordCount" : "{{ .WordCount }}",
                    "keywords" : [{{ range $i, $e := .Params.tags }}{{ if $i }},{{ end }}{{ $e }}{{ end }}]
                }
            </script>
{{- end }}