{{ define "main" }}
            <div class="columns">
                <div class="column col-8 col-md-7 col-sm-12">
                    <div class="card">
                        <div class="car-header">
                            <div class="card-title h5">{{ .Title | title }}</div>
                        </div>
                        <div class="card-body">
{{-     $taxonomies := index .Site.Taxonomies .Page.Type }}
{{-     range $taxonomies }}
                            <div class="badge label label-rounded" data-badge="{{ .Count }}"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></div>
{{-     end }}
                        </div>
                    </div>
                </div>
                <div class="column col-4 col-md-5 col-sm-12">
                    <h5>Latest Topics:</h5>
{{- range (.Paginate ( where site.RegularPages "Section" "topic" | first 3 ) ).Pages }}
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title h5">
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </div>
                        </div>
                        <div class="card-body">{{ .Page.Summary }}</div>
                    </div>
{{- end }}
                </div>
            </div>
{{- end }}