
{{- if .Ancestors }}
            <ul class="breadcrumb">
                {{- range .Ancestors.Reverse }}
                <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{- end }}
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
            </ul>
{{- end }}