
            <header class="navbar">
                <section class="navbar-section">
                    <a href="{{ absURL "" }}" class="navbar-brand mr-2">5Minutes</a>
                    {{- $currentPage := . }}
                    {{- range .Site.Menus.main }}
                    <a class="btn btn-link" href="{{ .URL | absLangURL }}">{{ i18n .Identifier | default .Name}}</a>
                    {{- end }}
                </section>
            </header>
{{- partial "breadcrumb.html" . }}